@charset "UTF-8";
/* CSS Document */

.box-grid div {
    background: url("../../../img/logix.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.box-grid div:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1;
}
.box-pagehead {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-pagehead .first-child::before {
    content: "◀ "
}
.box-pagehead .last-child::after {
    content: " ▶"
}